// Variables (Used in both document.css & themes.scss)

$fonts_system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$fonts_serif: 'TimesNewRoman', 'Times New Roman', 'Times', 'Baskerville', serif;
$fonts_sans: 'Helvetica Neue', 'Helvetica', 'Calibri', 'Arial', sans-serif;
$fonts_mono: 'Consolas', 'Lucida Console', 'DejaVu Sans Mono', 'Courier New', monospace;

$color_text: #333;
$color_link: #1477f1;

$fonts_modern_header: 'Poiret One', sans-serif;
$fonts_modern_body: 'Titillium Web', sans-serif;
