/* stylelint-disable */
/*!
 * * * * * * * * * * * * * * * * * * * * * * * *
 *          Document.css (Themes File)         *
 * * * * * * * * * * * * * * * * * * * * * * * *
 * Semantic Styling for Simple HTML Documents  *
 * * * * * * * * * * * * * * * * * * * * * * * *
 *    https://github.com/iron16/document.css   *
 * * * * * * * * * * * * * * * * * * * * * * * *
 *          Apache License Version 2.0         *
 * * * * * * * * * * * * * * * * * * * * * * * *
 *
 */
/* stylelint-enable */

@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web';

body {
  [data-theme='formal'] & {
    font-family: $fonts_serif;
  }

  [data-theme='modern'] & {
    font-family: $fonts_modern_body;
  }

  [data-theme='yotsuba-b'] & {
    @media screen {
      background: #eef2ff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAATklEQVQokWO6ePUdEwMDA1bMyIguxkikOlxqsOvHbwYjXvNR5RiJchMut2DTw8hIrJ8Z8ZiBPfxwuRGbnQNvH33jgph0hStuiE1XRKgDAPUXBHCAyYNuAAAAAElFTkSuQmCC') repeat-x 50% 0%;
      color: black;
      font-family: $fonts_sans;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  [data-theme='formal'] & {
    font-weight: bold;
  }

  [data-theme='modern'] & {
    font-family: $fonts_modern_header;
    font-weight: bold;
    letter-spacing: 2px;
  }

  [data-theme='yotsuba-b'] & {
    @media screen {
      font-weight: bold;
    }
  }
}

h1,
h2 {
  [data-theme='yotsuba-b'] & {
    @media screen {
      color: #af0a0f;
    }
  }
}

h3,
h4 {
  [data-theme='yotsuba-b'] & {
    @media screen {
      color: #0f0c5d;
    }
  }
}

small {
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    [data-theme='modern'] & {
      font-family: $fonts_modern_body;
      letter-spacing: 1px;
    }

    [data-theme='yotsuba-b'] & {
      @media screen {
        color: #0f0c5d;
      }
    }
  }
}

a {
  [data-theme='modern'] & {
    color: #6795ce;
  }

  [data-theme='yotsuba-b'] & {
    @media screen {
      color: #34345c;
    }
  }
}

hr {
  [data-theme='yotsuba-b'] & {
    @media screen {
      border-top: 1px solid #b7c5d9;
    }
  }
}

code {
  [data-theme='modern'] & {
    @media screen {
      border: none;
    }
  }
}

blockquote {
  [data-theme='yotsuba-b'] & {
    @media screen {
      border: none;
      color: #789922;
      font-size: 1.1em;
      padding: none;
    }
  }
}
